body{
    font-family: arial;
    font-size:20px;
    line-height:1.7em;
}

.container{
    width:60%;
    margin:0 auto;
    overflow:auto;
}

header{
    border-bottom:4px #f4f4f4 solid;
}

footer{
    border-top:4px #f4f4f4 solid;
}

.lastqn_hide{
    display:none;
}

